body {
  margin: 0px;
  padding: 0px;
}

.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.content_body {
  display: flex;
  justify-content: center;
}

.content_interaction {
  display: flex;
  justify-content: center;
}

.content_interaction input[type="range"]{
    margin: 16px;
}

.content_interaction input[type="button"]{
    margin: 16px;
}

.display_text_field{
    font-size: 2em;
    padding: 16px;
}

.start_screen, .end_screen{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  background: white;
}

.end_screen{
  display: none;
}

.start_screen div, .end_screen div{
  font-size: 1.5em;
  margin: 16px;
}

.button{
  cursor: pointer;
  width: 150px;
  height: 50px;
  background: lightseagreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  transition: all 0.2s;
}

.button:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
